<!DOCTYPE html>
<html>
  <head>
    <title>Snek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:head) %>
  </head>

  <body>
    <script type="text/javascript">
      window.snek_host = '<%= Rails.env.production? ? 'snek.local:8080' : "localhost:#{request.port}" %>';
    </script>
    <%= yield %>
  </body>
</html>
